version: "3.8"

services:
  # bot:
  #   build:
  #     context: ../../services/bot/
  #   container_name: sn-bot
  #   environment:
  #     RABBITMQ_URL: "amqp://${SN_RABBITMQ_USER}:${SN_RABBITMQ_PASSWORD}@rabbitmq/"
  #     TELEGRAM_BOT_TOKEN: ${TELEGRAM_BOT_TOKEN}
  #   depends_on:
  #     - rabbitmq
  #   restart: always

  tiktok-parser:
    build:
      context: ../../services/parsers/tiktok/
    container_name: sn-tiktok-parser
    environment:
      RABBITMQ_URL: "amqp://${SN_RABBITMQ_USER}:${SN_RABBITMQ_PASSWORD}@rabbitmq/"
      CLICKHOUSE_URL: http://clickhouse:8123
      LOGSTASH_HOST: ${SN_LOGSTASH_HOST}
      LOGSTASH_PORT: ${SN_LOGSTASH_PORT}
    depends_on:
      - postgres
      - rabbitmq
      # - analytics-api
      # - clickhouse
      - elasticsearch
      - kibana
      - logstash
      - rest-api
      - frontend
    restart: always

  reels-parser:
    build:
      context: ../../services/parsers/reels/
    container_name: sn-reels-parser
    environment:
      RABBITMQ_URL: "amqp://${SN_RABBITMQ_USER}:${SN_RABBITMQ_PASSWORD}@rabbitmq/"
      CLICKHOUSE_URL: http://clickhouse:8123
      LOGSTASH_HOST: ${SN_LOGSTASH_HOST}
      LOGSTASH_PORT: ${SN_LOGSTASH_PORT}
    depends_on:
      - postgres
      - rabbitmq
      # - analytics-api
      # - clickhouse
      - elasticsearch
      - kibana
      - logstash
      - rest-api
      - frontend
    restart: always

  short-parser:
    build:
      context: ../../services/parsers/shorts/
    container_name: sn-short-parser
    environment:
      RABBITMQ_URL: "amqp://${SN_RABBITMQ_USER}:${SN_RABBITMQ_PASSWORD}@rabbitmq/"
      CLICKHOUSE_URL: http://clickhouse:8123
      LOGSTASH_HOST: ${SN_LOGSTASH_HOST}
      LOGSTASH_PORT: ${SN_LOGSTASH_PORT}
    depends_on:
      - postgres
      - rabbitmq
      # - analytics-api
      # - clickhouse
      - elasticsearch
      - kibana
      - logstash
      - rest-api
      - frontend
    restart: always

  likee-parser:
    build:
      context: ../../services/parsers/likee/
    container_name: sn-likee-parser
    environment:
      RABBITMQ_URL: "amqp://${SN_RABBITMQ_USER}:${SN_RABBITMQ_PASSWORD}@rabbitmq/"
      CLICKHOUSE_URL: http://clickhouse:8123
      LOGSTASH_HOST: ${SN_LOGSTASH_HOST}
      LOGSTASH_PORT: ${SN_LOGSTASH_PORT}
    depends_on:
      - postgres
      - rabbitmq
      # - analytics-api
      # - clickhouse
      - elasticsearch
      - kibana
      - logstash
      - rest-api
      - frontend
    restart: always

  # frontend:
  #   build:
  #     context: ../../services/web/
  #   container_name: sn-frontend
  #   # environment:
  #   #   VITE_API_URL: ${VITE_API_URL}
  #   ports:
  #     - "4444:4444"
  #   depends_on:
  #     - rest-api
  #   restart: always
  rest-api:
    build:
      context: ../../services/rest/
    container_name: ${SN_REST_API_CONTAINER}
    environment:
      DATABASE_URL: ${DATABASE_URL}
      TELEGRAM_BOT_TOKEN: ${TELEGRAM_BOT_TOKEN}
      TELEGRAM_ADMIN_ID: ${TELEGRAM_ADMIN_ID}

      SN_POSTGRES_CONTAINER: ${SN_POSTGRES_CONTAINER}
      SN_POSTGRES_PORT: ${SN_POSTGRES_PORT}
      SN_POSTGRES_USER: ${SN_POSTGRES_USER}
      SN_POSTGRES_DB: ${SN_POSTGRES_DB}

      SN_LOGSTASH_PORT: ${SN_LOGSTASH_PORT}
      SN_LOGSTASH_HOST: ${SN_LOGSTASH_HOST}

      SN_RABBITMQ_USER: ${SN_RABBITMQ_USER}
      SN_RABBITMQ_PASSWORD: ${SN_RABBITMQ_PASSWORD}
      SN_RABBITMQ_HOST: ${SN_RABBITMQ_HOST}

    ports:
      - "8005:8000"
    depends_on:
      - postgres
      - rabbitmq
    volumes:
      - sn_uploads:/app/uploads
    restart: always

    healthcheck:
      test: ["CMD-SHELL", "curl -f https://sn.dev-klick.cyou/docs# || exit 1"]
      interval: 5s
      timeout: 5s
      retries: 10

  postgres:
    image: postgres:16
    container_name: ${SN_POSTGRES_CONTAINER}
    restart: always
    environment:
      POSTGRES_USER: ${SN_POSTGRES_USER}
      POSTGRES_PASSWORD: ${SN_POSTGRES_PASSWORD}
      POSTGRES_DB: ${SN_POSTGRES_DB}
    ports:
      - "${SN_POSTGRES_PORT}:5432"
    volumes:
      - sn_pg_data:/var/lib/postgresql/data

  # analytics-api:
  #   build:
  #     context: ../../services/analytics/
  #   container_name: ns_analytics_api
  #   environment:
  #     CLICKHOUSE_HOST: clickhouse
  #     CLICKHOUSE_PORT: 8123
  #     CLICKHOUSE_USER: default
  #     CLICKHOUSE_DATABASE: default
  #   ports:
  #     - "8055:8000"
  #   depends_on:
  #     - clickhouse
  #   restart: always

  rabbitmq:
    image: rabbitmq:3-management
    container_name: ${SN_RABBITMQ_CONTAINER}
    restart: always
    environment:
      RABBITMQ_DEFAULT_USER: ${SN_RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${SN_RABBITMQ_PASSWORD}
    ports:
      - "${SN_RABBITMQ_PORT}:5672"
      - "${SN_RABBITMQ_MANAGEMENT_PORT}:15672"
    volumes:
      - sn_rabbitmq_data:/var/lib/rabbitmq

  # clickhouse:
  #   image: clickhouse/clickhouse-server:23.8
  #   container_name: ${SN_CLICKHOUSE_CONTAINER}
  #   restart: always
  #   ports:
  #     - "${SN_CLICKHOUSE_PORT_HTTP}:8123"
  #     - "${SN_CLICKHOUSE_PORT_NATIVE}:9000"
  #   volumes:
  #     - sn_clickhouse_data:/var/lib/clickhouse
  #     - sn_clickhouse_logs:/var/log/clickhouse-server

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.8.1
    container_name: ${SN_ELASTICSEARCH_CONTAINER}
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=true
      - ELASTIC_PASSWORD=$ELASTIC_PASSWORD
      - ES_JAVA_OPTS=-Xmx2g -Xms2g
    ulimits:
      memlock:
        soft: -1
        hard: -1
    mem_limit: 4g
    mem_reservation: 3g
    ports:
      - "${SN_ELASTICSEARCH_PORT}:9200"
    volumes:
      - sn_es_data:/usr/share/elasticsearch/data
    restart: always

  kibana:
    image: docker.elastic.co/kibana/kibana:7.8.1
    container_name: ${SN_KIBANA_CONTAINER}
    depends_on:
      - elasticsearch
    ports:
      - "${SN_KIBANA_PORT}:5601"
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
      - ELASTICSEARCH_USERNAME=elastic
      - ELASTICSEARCH_PASSWORD=${ELASTIC_PASSWORD}
    restart: always

  logstash:
    image: docker.elastic.co/logstash/logstash:7.8.1
    container_name: ${SN_LOGSTASH_CONTAINER}
    depends_on:
      - elasticsearch
    ports:
      - "${SN_LOGSTASH_PORT}:5044"
    environment:
      - ELASTIC_PASSWORD=${ELASTIC_PASSWORD}
      - xpack.monitoring.enabled=false
    command: |
      -e '
      input {
        tcp {
          port => 5044
          codec => json
        }
      }
      output {
        elasticsearch {
          hosts => ["http://elasticsearch:9200"]
          user => "elastic"
          password => "${ELASTIC_PASSWORD}"
          index => "sn-logs"
        }
        stdout { codec => rubydebug }
      }'
    restart: always

volumes:
  sn_pg_data:
  sn_rabbitmq_data:
  # sn_clickhouse_data:
  # sn_clickhouse_logs:
  sn_es_data:
  sn_uploads:
