.client__item {
  width: 100%;
}

.client__item_name {
  font-family: Museo Sans Cyrl;
  font-weight: 300;
  font-size: 18px;
  line-height: 100%;
  color: #717171;
  margin-bottom: 10px;
}

.client__item_actions {
  justify-content: space-between;
}

.client__item_actions ._buttons {
  gap: 10px;
}

._btn_icon {
  flex-shrink: 1;
  width: 38px;
  min-width: auto;
  height: 38px;
  padding: 8px;
  color: #ffe0e5;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

._btn_icon._black {
  background-color: #382f31;
  color: #382f31;
}

._details_btn a {
  width: 127px;
  height: 38px;
  border-radius: 30px;
  color: #382f31;
  box-shadow: 0px 1px 7px 0px #382f3133;
  box-shadow: 0px 0px 30px 0px #382f311f;
}

._details_btn a span {
  margin-right: 10px;
}

.modal__title {
  font-family: Museo Sans Cyrl;
  font-weight: 400;
  font-size: 30px;
  line-height: 100%;
  color: #382f31;
  margin-bottom: 35px;
}

.modal__title_success {
  font-family: Museo Sans Cyrl;
  font-weight: 400;
  font-size: 30px;
  line-height: 100%;
  color: #382f31;
  margin-bottom: 35px;
  text-align: center;
}

.modal__descr {
  font-family: Museo Sans Cyrl;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #727272;
  margin-bottom: 71px;
}

.modal__btns {
  gap: 15px;
}
