# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
infra/local/.env
services/parsers/.env
venv
env
__pycache__
.venv312/lib/python3.12/site-packages/websockets/sync/__init__.py
/.venv312
/.venv
services/rest/uploads/videos/239_oar2.jpg
services/rest/uploads/videos/240_oar2.jpg
services/rest/uploads/videos/241_oar2.jpg
services/rest/uploads/videos/242_oar2.jpg
services/rest/uploads/videos/243_oar2.jpg
services/rest/uploads/videos/244_oar2.jpg
services/rest/uploads/videos/245_oar2.jpg
services/rest/uploads/videos/246_oar2.jpg
services/rest/uploads/videos/247_oar2.jpg
services/rest/uploads/videos/248_oar2.jpg
services/rest/uploads/videos/249_oar2.jpg
services/rest/uploads/videos/250_oar2.jpg
services/rest/uploads/videos/251_oar2.jpg
services/rest/uploads/videos/252_oar2.jpg
services/rest/uploads/videos/253_oar2.jpg
services/rest/uploads/videos/254_oar2.jpg
services/rest/uploads/videos/255_oar2.jpg
services/rest/uploads/videos/256_oar2.jpg
services/rest/uploads/videos/257_oar2.jpg
services/rest/uploads/videos/258_oar2.jpg
