.filters_modal {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-beige);
}

.screen {
  position: relative;
  inset: 0;
  width: 100%;
  height: 100%;
  padding: 36px 22px 0;
  box-sizing: border-box;
}

.filter-header {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}

.back_btn {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 37px;
  left: 25px;
}

.filter_list {
  margin-bottom: 29px;
}

.filter_list h2 {
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  color: var(--color-black);
  margin-bottom: 22px;
}

.filter_item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 100%;
  max-width: 500px;
  padding: 5px 10px;
  min-height: 42px;
  border: 2px solid var(--color-white);
  border-radius: 6px;
  background-color: var(--color-white);
  box-shadow: 0px 2px 14px 0px #0000001a;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: -1px;
  text-align: center;
  color: var(--color-black);
  transition: all 0.3s ease;
  cursor: pointer;
}

.filter_item:hover,
.filter_item:active {
  border-color: var(--color-orange);
}

.filter_item._active {
  border-color: var(--color-orange);
}

.filter_apply_container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 0 20px 46px;
  flex-shrink: 0;
  gap: 15px;
}

._filter_btn {
  width: 100%;
  height: 45px;
}

/* --------------------- Список фильтров --------------------- */

/* --------------------- Фильтр даты --------------------- */
.date_filter {
  padding-top: 33px;
  padding-bottom: 28px;
}

.date_calendar_btn {
  position: absolute;
  top: 17px;
  right: 19px;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background-color: var(--color-white);
  box-shadow: 0px 2px 14px 0px #0000001a;
  padding: 8px;
  z-index: 10;
}

/*  ---------------------- Социальные фильтры --------------------- */
.social_filter {
  padding-top: 33px;
  padding-bottom: 28px;
}

.social_filter h2 {
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  color: var(--color-black);
  padding-bottom: 38px;
}

.social_list_icon {
  gap: 10px;
  width: 100%;
  max-width: 500px;
}

.social_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.social_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 11px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: var(--color-white);
  box-shadow: 0px 0px 6px 0px #0000000f;
}

.social_icon img {
  object-fit: contain;
}

.social_icon._tiktok {
  background-color: var(--color-black);
}

/* --------------------- аккаунты --------------------- */
.account_filter {
  padding-top: 33px;
  padding-bottom: 28px;
  max-width: 500px;
  margin: 0 auto;
}

.account_filter h2 {
  margin-bottom: 21px;
}

.account_search {
  width: 100%;
  max-width: 500px;
  padding: 0 20px;
  margin-bottom: 29px;
}

.account_list {
  max-height: 225px;
  overflow-y: auto;
  width: 100%;
  padding: 10px 20px;
  gap: 10px;
}

.account_social_pic {
  width: 25px;
  height: 25px;
  padding: 5px;
  box-shadow: 0px 1px 4px 0px #0000001a;
  border-radius: 50%;
  background-color: var(--color-white);
}

.account_social_pic img {
  object-fit: scale-down;
}

.account_social_pic._tiktok {
  background-color: var(--color-black);
}

/* --------------------- теги --------------------- */

.tag_filter {
  padding-top: 33px;
  padding-bottom: 28px;
}

.tag_filter h2 {
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  color: var(--color-black);
  padding-bottom: 38px;
}
