.video__item {
  width: 100%;
  margin-bottom: 20px;
}

.video__name {
  font-family: Museo Sans Cyrl;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #382f31;
  margin-bottom: 6px;
}

.video__link {
  align-items: center;
  width: 100%;
  min-width: 300px;
  height: 45px;
  background-color: #fff;
  box-shadow: 0px 1px 7px 0px #382f3133;
  box-shadow: 0px 0px 30px 0px #382f311f;
  padding: 12px 26px;
  border-radius: 40px;

  font-family: Museo Sans Cyrl;
  font-weight: 300;
  font-style: 300;
  font-size: 14px;
  line-height: 100%;
  vertical-align: middle;
  color: #727272;
}
