.header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 57px;
  background-color: #ff84a5;
  justify-content: center;
}

.header__content {
  width: 100%;
  max-width: 800px;
  justify-content: space-between;
  align-items: center;
}

.header__logo a {
  width: 101px;
  height: 26px;
  display: block;
}

.header__logo a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
