.register__title {
  margin-bottom: 30px;
  font-family: Museo Sans Cyrl;
  font-weight: 400;
  font-style: 500;
  font-size: 30px;
  line-height: 100%;
  text-align: center;
}

.register__form {
  padding: 0 20px;
  padding-top: 60px;
  padding-bottom: 50px;
  gap: 20px;
  height: calc(100% - 57px);
}

.social_form {
  margin-bottom: auto;
  width: 100%;
}

.social_form__title {
  font-family: Museo Sans Cyrl;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  color: #727272;
  margin-bottom: 7px;
}

.social__list {
  gap: 45px;
  margin-bottom: 27px;
}

.social__item {
  padding: 5px;
  border: 2px solid white;
  border-radius: 100%;
}

.social__item._active {
  border: 2px solid #ff84a5;
}

.social__item img {
  width: 40px;
  height: 40px;
}

.social_input_list {
  gap: 14px;
}
