.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 90px;
  background-color: #382f31;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  align-items: center;
}

.footer__container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 18px;
}

.footer__nav {
  justify-content: space-between;
  align-items: center;
}

.footer__link {
  width: 55px;
  height: 55px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__link._active {
  background-color: #ff84a5;
}
.footer__link._active svg path {
  fill: #382f31;
}
