.search_wrapper {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 8px;
  width: 38px;
  height: 39px;
  border-radius: 6px;
  background-color: var(--color-white);
  box-shadow: 0px 1px 4px 0px #0000001a;
  overflow: hidden;
  transition: width 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
}

.search_wrapper.expanded {
  width: 400px; 
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.search_icon {
  flex-shrink: 0;
  color: var(--color-placeholder);
  width: 20px;
  height: 20px;
  transition: color 0.3s;
}


.search_input {
  border: none;
  outline: none;
  flex: 1;
  margin-left: 8px;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.3s;
  background: transparent;
}

.search_wrapper.expanded .search_input {
  opacity: 1;
}
