.checkbox_wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 7px;
  user-select: none;
}

.checkbox_wrapper.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.checkbox_input {
  display: none;
}

.checkbox_custom {
  width: 18px;
  height: 18px;
  padding: 2px;
  border: 1px solid var(--color-orange);
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
}

.checkbox_icon path {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.checkbox_icon.checked path {
  opacity: 1;
}

.checkbox_label {
  font-weight: 500;
  font-size: 10px;
  line-height: 120%;
  color: var(--color-black);
}
