.input__field {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom__input {
  max-width: 450px;
  width: 100%;
  min-width: 300px;
  height: 45px;
  border: 1px solid white;
  background-color: #fff;
  box-shadow: 0px 1px 7px 0px #382f3133;
  box-shadow: 0px 0px 30px 0px #382f311f;
  padding: 12px 26px;
  border-radius: 40px;
  transition: all 0.2s ease-in-out;

  font-family: Museo Sans Cyrl;
  font-weight: 300;
  font-style: 300;
  font-size: 16px;
  line-height: 20px;
  vertical-align: middle;
}

.custom__input:focus {
  border: 1px solid #ff84a5;
}

.custom__input._error {
  border: 1px solid #ff84a5;
}

.error_message {
  display: block;
  padding-left: 26px;
  font-family: Museo Sans Cyrl;
  font-weight: 300;
  font-size: 10px;
  line-height: 20px;
  color: #ff84a5;
}
