.admin_page__header {
  width: 100%;
  max-width: 800px;
  padding: 0 15px;
  padding-top: 10px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 15px;
}

._jc_end {
  justify-content: flex-end;
}

.admin_page__header ._filter {
  width: 127px;
  height: 38px;
  background-color: #382f31;
  box-shadow: 0px 1px 7px 0px #382f3133;
  box-shadow: 0px 0px 30px 0px #382f311f;
  border-radius: 30px;
  color: #382f31;
}

.admin_page__header ._filter span {
  margin-left: 10px;
  color: white;
}

.admin_page__header__buttons {
  gap: 20px;
}

._search_btn,
._add_btn {
  flex-shrink: 1;
  width: 38px;
  min-width: auto;
  height: 38px;
  padding: 10px 11px;
  color: #ffe0e5;
}

#createUser .modal__title {
  text-align: center;
}

#createUser .modal_btn {
  margin-top: auto;
}

#createUser .wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.modal_input {
  margin-bottom: 20px;
}

.filter__menu {
  width: 100%;
  align-items: center;
  gap: 12px;
  margin-bottom: 72px;
}

.filter__menu_btn {
  width: 100%;
  max-width: 450px;
  height: 42px;
  padding: 10px;
  border: 1px solid #64646426;
  border-radius: 100px;
  font-family: Museo Sans Cyrl;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  text-align: center;
  color: #292929;
}

.filter__menu_btn:hover,
.filter__menu_btn:active {
  border: 2px solid #ff84a5;
}

.article__list {
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  max-height: 300px;
  height: 100%;
  overflow: auto;
  width: 100%;
}

.article__list::-webkit-scrollbar {
  width: 0;
  display: none;
}

.article__item {
  display: flex;
  align-items: center;
  padding: 10px 22px;
  width: 100%;
  max-width: 450px;
  height: 45px;
  border-radius: 100px;
  border: 1px solid white;
  box-shadow: 0px 0px 30px 0px #382f311f;
  color: #717171;
  cursor: pointer;
}

.article__item span {
  margin-left: 5px;
  display: block;
  height: 100%;
}

.article__item span img {
  width: 100%;
  height: 100%;
}

.article__item._active {
  border-color: #ff84a5;
}

.modal__go_back {
}

.modal-header._sub_menu {
  justify-content: space-between;
  margin-bottom: 13px;
  width: 100%;
}

.social_title {
  font-family: Museo Sans Cyrl;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  color: #727272;
  margin-bottom: 34px;
}

.article__search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 22px;
  width: 100%;
  max-width: 450px;
  height: 45px;
  border-radius: 100px;
  box-shadow: 0px 1px 7px 0px #382f3133;
  box-shadow: 0px 0px 30px 0px #382f311f;
  color: white;
}

.article__search input {
  width: 100%;
  font-family: Museo Sans Cyrl;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #717171;
}

.article__search input::placeholder {
  color: #382f314d;
}

.article {
  gap: 7px;
}

.article p {
  font-family: Museo Sans Cyrl;
  font-weight: 300;
  font-size: 10px;
  line-height: 20px;
  color: #ff84a5;
}

.article__btn {
  position: fixed;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}

.modal__calendar {
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px;
  border-radius: 100%;
  box-shadow: 0px 1px 7px 0px #382f3133;
  box-shadow: 0px 0px 30px 0px #382f311f;
  background-color: #ffe0e5;
}

.modal__calendar._active {
  background-color: #ff84a5;
}
