* {
  box-sizing: border-box;
}

html,
body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  overflow-x: hidden;
}

ul,
ol {
  padding: 0px;
  margin: 0px;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
}

button:disabled {
  opacity: 1;
  cursor: not-allowed;
  -webkit-text-fill-color: inherit;
  color: inherit;
}

ul li,
ol li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

p,
dd {
  margin: 0;
}

input {
  outline: none;
  border: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
