.button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  gap: 10px;
  box-shadow: 0px 0px 18px 0px #00000014;
  box-shadow: 0px 2px 14px 0px #0000001a;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -1px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  color: var(--color-white);
  padding: 4px 10px;
  cursor: pointer;
}

.button._orange {
  border-radius: 6px;
  background-color: var(--color-orange);
}

.button._orange:hover {
  background-color: var(--color-orange-hover);
}

.button._light_brown {
  border-radius: 4px;
  background-color: var(--color-light-brown);
}

.button._light_brown:hover {
  border-radius: 4px;
  background-color: var(--color-light-brown-hover);
}

.button._grey {
  border-radius: 6px;
  background-color: var(--color-grey);
}

.button._grey:hover {
  border-radius: 6px;
  background-color: var(--color-grey-hover);
}

.button._white {
  color: var(--color-black);
  border-radius: 6px;
  background-color: var(--color-white);
}

.button._white:hover,
.button._white._active {
  border-radius: 6px;
  background-color: var(--color-light-brown);
}

.button_icon {
  width: 26px;
  height: 26px;
  border-radius: 4px;
  box-shadow: 0px 1px 4px 0px #0000001a;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: var(--color-light-brown);
  transition: all 0.2s ease-in-out;
}

.button_icon:hover {
  background-color: var(--color-light-brown-hover);
}
