.footer {
  height: 74px;
  width: 100%;
  max-width: 800px;
  background-color: var(--color-white);
  box-shadow: 0px -2px 14px 0px #0000001a;
  position: sticky;
  bottom: 0;
}

.footer_container {
  width: 100%;
  height: 100%;
}

.footer__link {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  padding: 10px;
  color: var(--color-brown);
}

.footer__link._active {
  background-color: var(--color-orange);
  color: var(--color-white);
}

.footer__link._active svg {
  animation: scale 0.4s ease-in-out;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
