.date_picker {
  padding-top: 30px;
}

.calendar_grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: 26px;
  row-gap: 28px;
}

.calendar__month {
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  text-align: center;
  vertical-align: middle;
  color: var(--color-black);
}

.calendar__header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 27px;
  font-weight: 400;
  font-size: 11px;
  line-height: 100%;
  text-align: center;
  vertical-align: middle;
  color: #b69989;
}

.calendar__header._week_end {
  color: var(--color-orange);
}

/* .calendar__week_number {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background-color: #382f31;
  font-weight: 400;
  font-size: 11px;
  line-height: 100%;
  text-align: center;
  vertical-align: middle;
  color: #ff84a5;
} */

.calendar__day {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
  color: #b69989;
}

.calendar__day._week_end {
  color: var(--color-orange);
}

.calendar__day._active {
  background-color: var(--color-orange);
  border-radius: 4px;
  color: var(--color-white);
}
