.video_item {
  width: 100%;
  height: 172px;
  border-radius: 8px;
  background-color: var(--color-white);
  padding: 12px 10px;
  gap: 21px;
  box-shadow: 0px 2px 14px 0px #0000001a;
}

.video_image {
  width: 111px;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
}

.video_info {
  gap: 10px;
  width: 100%;
}

.video_info ._name {
  font-weight: 300;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: -1px;
  color: var(--color-black);
}

.video_info ._url {
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  color: var(--color-grey-text);
  word-break: break-all;
}

.video_item_btns {
  margin-top: auto;
}
