* {
  box-sizing: border-box;
}

html,
body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
}

ul {
  padding: 0px;
  margin: 0px;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
}

button {
  background: none;
  padding: 0;
  border: none;
}

input {
  background: none;
  padding: 0;
  border: none;
}

input:focus,
textarea:focus {
  outline: none;
}

img,
svg {
  width: 100%;
  height: 100%;
}
