.admin_page {
  width: 100%;
  align-items: center;
  overflow: hidden;
}

.client__list {
  max-width: 800px;
  width: 100%;
  gap: 36px;
  padding: 0 15px;
  padding-bottom: 20px;
  overflow-y: auto;
}

.client__list::-webkit-scrollbar {
  display: none;
}
