.edit_form {
  border-radius: 16px;
  background-color: var(--color-white);
  width: 100%;
  height: 100%;
  margin-top: 37px;
  padding: 40px 0;
  margin-bottom: 20px;
  overflow: hidden;
}

.edit_form_container {
  height: 100%;
  max-width: 500px;
  padding: 0 30px;
  margin: 0 auto;
  gap: 20px;
  overflow: auto;
}

.edit_form_title {
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: var(--color-black);
  margin-bottom: 25px;
}

.edit_social {
  gap: 20px;
  width: 100%;
}

.edit_form_btn {
  margin-top: auto;
}
