.header {
  height: 54px;
  width: 100%;
  box-shadow: 0px 0px 18px 0px #00000014;
  box-shadow: 0px 2px 14px 0px #0000001a;
  background-color: var(--color-white);
  position: sticky;
  top: 0;
}

.header_container {
  height: 100%;
  padding: 0 15px;
}

.header_right {
  gap: 12px;
  align-items: center;
}

.header_account {
  gap: 8px;
}

.header_account_btn {
  width: 25px;
  height: 25px;
}

.header_account ._login { 
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -1px;
  text-align: center;
  color: var(--color-brown);
}
