.account_item {
  width: 100%;
  height: 81px;
  border-radius: 8px;
  background-color: var(--color-white);
  padding: 12px 10px;
  gap: 6px;
}

.account_social_pic {
  width: 25px;
  height: 25px;
  padding: 5px;
  box-shadow: 0px 1px 4px 0px #0000001a;
  border-radius: 50%;
  background-color: var(--color-white);
}

.account_social_pic img {
    object-fit: scale-down;
}

.account_social_pic._tiktok {
  background-color: var(--color-black);
}


.account_item ._name {
    font-weight: 300;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: -1px;
    color: var(--color-black);
  }