.account__item {
  width: 100%;
}

.account__name {
  height: 20px;
  align-items: center;
  gap: 10px;
  margin-bottom: 14px;
  font-family: Museo Sans Cyrl;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #717171;
}

.account__name span {
  display: block;
  height: 100%;
}

.account__name span img {
  width: 100%;
  height: 100%;
}

.account__item ._buttons {
  gap: 10px;
}

.account__item_action {
  display: flex;
  justify-content: space-between;
}
