.user_item {
  width: 100%;
  height: 74px;
  border-radius: 8px;
  background-color: var(--color-white);
  padding: 12px 10px;
  gap: 6px;
}

.user_item ._name {
  font-weight: 300;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: -1px;
  color: var(--color-black);
}
