.auth_form {
  border-radius: 16px;
  background-color: var(--color-white);
  width: 100%;
  margin-top: 59px;
  margin-bottom: 20px;
  overflow: auto;
}

.auth_form_container {
  padding: 40px 30px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.auth_form_title {
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: var(--color-black);
  margin-bottom: 25px;
}

.auth_form_btn {
  height: 45px;
  width: 100%;
  margin-top: 45px;
}

.social_form {
  padding-top: 22px;
  width: 100%;
  gap: 22px;
}

.social_field {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.social-input-wrapper {
  position: relative;
}

.social-input-wrapper ._social_close_btn {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  background-color: inherit;
  box-shadow: none;
  width: 10px;
  height: 10px;
  padding: 0;
}

@media (max-width: 450px) {
  .social_add_btn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

