.search_input {
  background-color: #ffe0e5;
  box-shadow: 0px 1px 7px 0px #382f3133;
  box-shadow: 0px 0px 30px 0px #382f311f;
  padding: 12px 26px;
  border-radius: 40px;
}

.search-container {
  display: flex;
  justify-content: flex-end;
  transition: all 0.3s ease;
}

.search-input {
  width: 0;
  height: 38px;
  padding: 0;
  border: none;
  opacity: 0;
  transition: all 0.3s ease;

  font-family: Museo Sans Cyrl;
  font-weight: 300;
  font-style: 300;
  font-size: 16px;
  line-height: 20px;
  vertical-align: middle;
}

.search-container.open .search-input {
  width: 100%;
  max-width: 250px;
  height: 38px;
  padding: 12px 26px;
  opacity: 1;
  border: 1px solid #ffe0e5;
  box-shadow: 0px 0px 30px 0px #382f311f;
  border-radius: 20px;
  margin-right: 10px;
}
