.modal_content {
  width: 100%;
  height: 100%;
  padding: 40px 20px 20px;
}

.modal_title {
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: var(--color-black);
}

.modal_form {
  gap: 46px;
  max-width: 500px;
  height: 100%;
  margin: 0 auto;
}

.modal_btn {
  height: 45px;
  margin-top: auto;
}

#confusmDeleteModal .modal_title {
  padding-bottom: 20px;
}

.modal_text {
  font-weight: 300;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
  color: var(--color-black);
}

#settingsSocial {
  background-color: var(--color-beige);
  /* max-height: 90vh; */
}

#settingsSocial .modal_title {
  padding-bottom: 20px;
}

.social_wrap {
  height: 70vh;
  overflow-y: auto;
}

.settings_social_container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--color-brown);
  gap: 22px;
}

.social_name {
  width: 100%;
}

.social_name ._btn {
  width: 34px;
  height: 34px;
}

.settings_list {
  width: 100%;
  gap: 22px;
}

.settings_item {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.settings_social_form {
  gap: 22px;
  width: 100%;
}

.settings_social_form ._btn,
.submit_btn {
  width: 100%;
  height: 45px;
}

.submit_btn {
margin-top: 30px;
}
