.toggle_wrapper {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  gap: 10px;
  position: relative;
}

.toggle_wrapper.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.toggle_input {
  display: none; /* скрываем стандартный чекбокс */
}

.toggle_slider {
  position: relative;
  width: 30px;
  height: 18px;
  background-color: var(--color-white);
  border-radius: 10px;
  box-shadow: 0px 1px 4px 0px #0000001a;
  transition: background-color 0.3s;
}

.toggle_slider::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: var(--color-brown);
  border-radius: 50%;
  transition: all 0.3s ease;
}

/* Состояние включено */
.toggle_input:checked + .toggle_slider {
  background-color: var(--color-beige);
}

.toggle_input:checked + .toggle_slider::before {
  transform: translateX(13px);
  background-color: var(--color-orange);
}

.toggle_label {
  font-size: 14px;
  color: #333;
}
